NODE_ENV=
BKASH=
ROCKET=
UPAY=
DISCORD_CLIENT_ID=
DISCORD_BOT_TOKEN=
DISCORD_SHOULD_REGISTER_COMMANDS=
REDIS_URL=
MONGODB_URL=
DATABASE_NAME=
WANDB_COOKIE_HEADER=
WANDB_BASE_URL=https://trace.wandb.ai
WANDB_PROJECT_ID=fazlulcse17-/quickstart_playground112
WANDB_MODEL=coreweave/moonshotai/Kimi-K2.6
WANDB_TIMEOUT=120
